.bg-3d {
  position: relative;
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.bg-3d:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, #8e9eab, #eef2f3);
  transform: rotate(45deg);
  z-index: -1;
  animation: lift 10s ease-in-out infinite;
}

@keyframes lift {
  0% {
    transform: rotate(45deg) translateY(0%);
  }
  50% {
    transform: rotate(45deg) translateY(-30%);
  }
  100% {
    transform: rotate(45deg) translateY(0%);
  }
}
