.logo {
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(90px);
  }
  100% {
    transform: translateX(0);
  }
}
